@import'./variables.scss';



body{
    background-color: $color-principal;    
}

.success{
    @include alertita($bg:green);
}
    

.info{
    @include alertita

}

.warning{
    @include alertita($bg:yellow)
}

.danger{
    @include alertita($bg:$color-red)
}

//asi como los mixin retornan una porcion de codigo y se reutiliza , tambien puedo crear una clase directa

@mixin generate-icons($name,$icon,$color,$size){

    .div-icon-#{$name}{
     background: url("./img/#{$icon}");
     border: solid 2px $color;
     background-size: cover;
     width: $size;
     height: $size;
    }
}

@include generate-icons("phone","telefono.jpg" ,red ,400px );
@include generate-icons("mail","email.png" ,blue ,200px )