
:root{
    --primary-theme-color:green;
    --secondary-theme-color: #282c34;
    --primary-text-color:#fff;
    --primary-font-family:'arial';
    --padding-section:1.5rem;
    --padding-container:1rem;
    --max-width-container:640px;
    --letter-color-1:#00bef8;
    --letter-color-2:#ff0697;
    --letter-color-3:#ffe600;
    --letter-color-4:green;
    --letter-color-5:red;
    --letter-color-6:aqua;
    --fondo:blue;
    --footer-border:10px
}


@media(min-width:760px){
    :root{
        --padding-section:2rem;
        --padding-container:0.75rem;
        --max-width-container:1024px;
        --primary-theme-color:red;
        --letter-color-1:#000;
        --letter-color-2:violet;
        --letter-color-3:aqua;
    }
}