@import'./modules/variables.css';
@import'./modules/section.css';
@import'./modules/animation.css';
@import'./modules/footer.css';

.body{
    background-color:var(--primary-theme-color) ;
    color: var(--primary-text-color);
    font-family: var(--primary-font-family);
}