*{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background: #212123;
    margin: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card__giratorio{
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px;
}

.card__giratorio-contenido{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card__giratorio:hover .card__giratorio-contenido{
    transform: rotateY(180deg);
}
.card__giratorio-contenido--frente,
.card__giratorio-contenido--trasero{
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius: 15px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

}

.card__giratorio-contenido--frente{
    background: linear-gradient(-229deg,#0093E9,#80D0C7);
}

.card__giratorio-contenido--trasero{
    background: linear-gradient(-229deg,#0093E9,#80D0C7);
    color: #fff;
    transform: rotateY(180deg);
}

.card__giratorio-contenido h1,
.card__giratorio-contenido p{
    margin: 0;
    text-shadow: 0 0 10px #000;
}

.card__giratorio-contenido h1{
    font-size: 1.4rem;
}

.logo{
    width: 70px;
    height: 70px;
    filter: drop-shadow(2px 2px 5px #000);
}